@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kevin Gleason<br />
    RIT Student<br />
    <abbr title="Phone">Phone #:</abbr>
    (607) 207-8933
</address>

<address>
    <strong>RIT Email:</strong>   <a href="mailto:kg8128@rit.edu">kg8128@rit.edu</a><br />
</address>

<form>

</form>